<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitor List Submissions</title>
</head>
<body>
    <h2>Competitor List: Manhattan</h2>
    <table border="1">
        <tr>
            <th>Seq.</th>
            <th>Customer Name</th>
            <th>Account</th>
            <th>Competitor</th>
            <th>Equipmeny Type</th>
            <th>Job Name</th>
            <th>Job Address</th>
            <th>Date on Job</th>
            <th>Submitted By</th>
        </tr>
        {% for submission in submissions %}
        <tr>
            <td>{{ submission[0] }}</td>
            <td>{{ submission[1] }}</td>
            <td>{{ submission[2] }}</td>
            <td>{{ submission[3] }}</td>
            <td>{{ submission[4] }}</td>
            <td>{{ submission[5] }}</td>
            <td>{{ submission[6] }}</td>
            <td>{{ submission[7] }}</td>
            <td>{{ submission[8] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>