<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Sales Submission Form</title>
</head>
<body>
    <h2>Lost Sales Input</h2>
    <form action="/submit" method="POST">
        <label for="userInput">Enter the company name:</label><br>
        <input type="text" name="company" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the account number:</label><br>
        <input type="number" name="account" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the job:</label><br>
        <input type="text" name="job" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the equipment:</label><br>
        <input type="text" name="equipment" placeholder="Your input here" required><br><br>        
        <label for="userInput">Enter the account OSR:</label><br>
        <input type="text" name="osr" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the reason:</label><br>
        <input type="text" name="reason" placeholder="Your input here" required><br><br>
        <button type="submit" class="submit-btn">Submit</button>
    </form>

</body>
</html>