<!-- competitors.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Competitor List Submission Form</title>
</head>
<body>
    <h2>Competitor List Input</h2>
    <form action="/contender" method="POST">
        <label for="userInput">Enter the customer name:</label><br>
        <input type="text" name="customer" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the account number:</label><br>
        <input type="number" name="account" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the competitor:</label><br>
        <input type="text" name="competitor" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the machine type:</label><br>
        <input type="text" name="equipment" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the jobsite name:</label><br>
        <input type="text" name="job" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter the jobsite address/Town/City:</label><br>
        <input type="text" name="address" placeholder="Your input here" required><br><br>        
        <label for="userInput">Enter the date on job:</label><br>
        <input type="text" name="date on job" placeholder="Your input here" required><br><br>
        <label for="userInput">Enter your name:</label><br>
        <input type="text" name="submitted by" placeholder="Your input here" required><br><br>
        <button type="submit" class="submit-btn">Submit</button>
    </form>

</body>
</html>